[{:db/id #db/id[:db.part/db]
  :db/ident :entity1/entity2
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/one
  :db/doc "Reference to entity2"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :entity1/self
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Reference to entity1s"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :entity1/multi
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Reference to entity1s and 2s"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :entity2/attr
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "String attr of entity2 - This is a rather long docstring on purpose.  It could be longer still.  But let's not make it too long.  We just want to see how a long docstring looks like, when it is longer than a short, not so long docstring or even a medium sized one."
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :entity2/entity1
  :db/valueType :db.type/ref
  :db/cardinality :db.cardinality/many
  :db/doc "Reference to entity1s"
  :db.install/_attribute :db.part/db}]
